// fonts
$font-main: 'Mouse Memoirs', sans-serif;
$font-b: 'Kalam', cursive;
$font-c: 'Permanent Marker', cursive;


// colors
$color-bg: #113ccf;
$color-secondary: #999;



// @Mixins

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}